/* Reset básico e estilos globais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Estilos do cabeçalho */
header {
    background-color: #327ebd;
    color: #fff;
    display: block;
    position: absolute;
    width: 100%;
    height: 150px;
    margin-top: -150px;
    position: fixed;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 90%;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: #333;
}
h2, h3,h4 {
    color: #327ebd;
}

/* Estilos de navegação */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #f2f2f2;
}

/* Estilos do conteúdo principal */
main {
    margin-top: 150px;
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
}

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.project figcaption {
    text-align: center;
    margin-top: 10px;
    color: #777;
    display: block;
    
}

.skills,
.education {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills .profile,
.education .profile {
    flex: 1 1 300px;
    margin-bottom: 20px;
}
/*Style Contato*/
ul.logos li{
    list-style: none;
    display: inline-block;
    flex-direction: row;

}
ul.logos li a img{
    width: 50px;
    height: 50px;
}
/* Formulário de contato */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #555;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    height: 50px;
    
}

footer p {
    margin-top: 20px;
}
footer p span{
    margin-top: -15px;
    display: block;
    float: right;
    width: 50px;
    height: 50px;
    background-color: #327ebd;
    border-radius: 50px;
}
footer p span a {
    color: #f8f8f8;
    font-weight: bolder;
    text-decoration: none;
    font-size: 30px;

}

/* Responsividade */
@media (max-width: 768px) {
    header {
        height: 250px;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li:last-child {
        margin-bottom: 0;
    }

    .skills .profile,
    .education .profile {
        flex: 1 1 100%;
    }
    .project figcaption {
        display: block;
        font-size: 5pt;
    }
    
        

}
